/* First: import variables, reset, mixins, layouts */
@use "./base/variables";
@use "./base/reset";
@use "./base/mixins";
@use "./layouts/container";

/* Then: global styles */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
