:root {
  /* Colors */
  --color-bg: #ffffff;
  --color-text: #111111;
  --primary: #2563eb;
  --secondary: #0f172a;

  /* Container */
  --container-padding: 15px;

  /* Max widths */
  --container-xxl: 1820px;
  --container-xxl-sm: 1600px;
  --container-xl: 1440px;
  --container-lg: 1200px;
  --container-md: 992px;
  --container-sm: 768px;
}
